.navbar {
  list-style-type: none;
  width: 30%;
  background-color: #ffb51c;
  height: 100%; 
  position: fixed;
}

.menu {
  background-color: #ffb51c;
  width: 30%;
  height: 100%; 
  position: fixed;
  padding-top: 300px
}

.brand_img {
  width: 250px;
  height: 520px;
  justify-content: center;
}

.menu.active {
  left: 0;
  transition: 350ms;
}

.text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
  border-radius: 4px;
}

.text a:hover {
  background-color: #f5f5f5;
  color: #ffb51c;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
}

.text2 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.text2 a {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #ffb51c;
  font-size: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
  border-radius: 4px;
}

.menu-items {
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 30px;
}

.links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}