.store{
    background-color: white;
}

/* Header */
header{
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container ._cart{
    position: relative;
    cursor: pointer;
}

header .container ._cart span{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: crimson;
}

/* Products */
.title{
    font-size: 3rem;
    padding: 8rem 0 0 5rem;
    color: black;
    font-weight: 600;
}

.productos{
    padding: 2rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem 2rem;
    box-sizing: border-box;
}

.producto{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;    
}

.producto:hover{
    border: 6px solid #ffb51c;
}
.producto_img img{
    width: 400px;
    height: 290px;
}
.producto_footer{
    padding: 1rem;
}
.producto_footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    font-family: Helvetica, sans-serif;
}
.producto_footer p{
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}
.producto_footer .price{
    font-size: 2rem;
    color: black;
}
.producto .button{
   width: 100%;
   height: 45%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem 3rem;
   padding: 0 1rem;
   margin: 1rem;
}
.producto .button .btn1{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
.producto .button .btn2{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
.button button{
    background-color: #ffb51c;
    max-width: 250px;
    width: 100%;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
/* .button div{
    background-color: #ffb51c;
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
}
.button div a{
    background-color: #ffb51c;
    color: white;
    font-weight: 700;
}
.button div a:hover{
    color: white;
} */

/* Cart */
.carts{
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    z-index: 2;
    visibility: hidden;
}

.cart{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.75);
    width: 80%;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.cart h2{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: black;
    font-family: Helvetica, sans-serif;
}
.cart.show{
    transform: translate(-50%, -50%) scale(.75);
    opacity: 1;
    visibility: visible;
}
.carts.show{
    visibility: visible;
}

.cart_close box-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 1rem 0 0 1rem;
}
.cart_close box-icon:hover{
    fill: crimson;
}

.cart_center{
    width: 90%;
    margin: 0 auto;
}
.cart_item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px #ffb51c;
    border-radius: 5px;
}
.cart_item img{
    width: 20rem;
}
.cart_item h3{
    margin-top: 7rem;
    font-family: Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}
.cart_item .price{
    color: #1a202c;
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
}
.cart_item box-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-left: 1rem;
}
.cart_item .amount{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    
}
.cart_item .remove_item box-icon{
    fill: crimson;
    margin-top: 8rem;
}

.cart_footer{
    text-align: center;
    margin-bottom: 2rem;
}
.cart_footer h3{
    font-family: Helvetica, sans-serif;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
}
.cart_footer .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffb51c;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    display: inline-block;
}

/* Media */
@media only screen and (max-width: 1000px) {
    .cart_item{
        width: 92%;
    }
}

@media only screen and (max-width: 700px) {
    .cart_item{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .cart_item h3{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 450px) {
    .cart_item{
        width: .5rem;
    }
} 